* {
    padding: 0;
    margin: 0;
}

html, body {
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
    user-select: none;
    font-family: Verdana;
}

.background {
    width: 0;
    height: 0;
    opacity: 0;
}

.large_box {
    display: flex;
    margin-top: 9%;
    width: 100%;
    height: 750px;
    min-width: 1280px;
    max-width: 1280px;
    margin-right: auto;
    margin-left: auto;
}

.big_box {
    display: flex;
    height: 100%;
    width: 600px;
    border: gray solid 1px;
    margin: 0 auto;
    background: rgba(217, 217, 217, 0.96);
    border-radius: 7px;
    box-shadow: #464343 2px 2px 4px;
    flex-direction: column;
    gap: 4px;
}

.line_box {
    display: flex;
    height: 10%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.word_set {
    font-size: 25px;
    font-family: Verdana;
}

.input_block_forget {
    height: 85%;
    width: 60%;
    background: unset;
    border: 1px none #858484;
    border-bottom-style: solid;
    outline: none;
    font-size: 20px;
    transition: .2s;
    text-align: center;
}

.input_block_forget:focus {
    border: 2px none rgba(0, 0, 0, 0.96);
    border-bottom-style: solid;
    width: 60%;
}

.button {
    display: flex;
    position: relative;
    height: 100%;
    width: 30%;
    border-radius: 7px;
    background: #99999d;
    text-align: center;
    margin: 0 auto;
    color: white;
    align-items: center;
    justify-content: center;
    transition: .5s;
}

.button:hover {
    background: #c0c0c4;
    color: green;
}

.button:active {
    background: #6f6f72;
    color: white;
}

#title {
    margin-top: 90px;
}

#email_address {
    margin-top: 20px;
}

#button_change {
    margin-top: 20px;
}