* {
    padding: 0;
    margin: 0;
}

body {
    background: #e5d1d1;
    overflow-x: auto;
}

html, body {
    width: 100%;
    height: 100%;
    user-select: none;
}

.top_bar {
    float: top;
    width: 100%;
    min-height: 50px;
    min-width: 1600px;
    height: 40px;
    max-height: 100px;
    background: linear-gradient(to right, #b7b1a5 50%, #dcad7f);
    color: white;
}

.bar_box {
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 140px;
    height: 50px;
    border-radius: 3px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    transition: .5s;
    text-align: center;
}

.bar_box:hover {
    background-color: gray;
    box-shadow: black 1px 1px 4px;
}

.bar_word {
}

#word {
    margin-left: 5px;
}

#name_box {
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    width: 300px;
    margin-left: 20px;
}

#name_box:hover {
    background: unset;
    box-shadow: unset;
}

#login_box {
    float: left;
    margin-left: 40px;
}

#register_box {
    float: left;
}

#personal_box {
    float: right;
}

#message_box {
    float: right;
}

#collection_box {
    float: right;
    margin-right: 40px;
}

#shop_box {
    float: right;
}

.detail_box {
    margin-top: 70px;
    margin-left: auto;
    margin-right: auto;
    background: #e8e6e6;
    width: 1600px;
    min-width: 1600px;
    border-radius: 7px;
    box-shadow: #404041 2px 2px 4px;
}

.detail_title {
    font-size: 36px;
    width: 100%;
    padding-top: 30px;
}

.detail_title_word {
    font-family: cursive;
    margin-left: 40px;
}

.detail_box_top {
    margin-top: 20px;
    display: flex;
    width: 100%;
    height: 300px;
    border-radius: 7px;
    align-items: center;
    flex-direction: row;
    gap: 10px;
}

.detail_box_top_image {
    background-repeat: no-repeat;
    width: 300px;
    height: 100%;
    border-radius: 7px;
    box-shadow: #0b0b0c 1px 1px 3px;
    background-size: 100%;
    margin-left: 40px;
    overflow: hidden;
}

.detail_box_top_text {
    height: 95%;
    width: 1200px;
    border-radius: 7px;
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
}

.detail_box_top_text_description {
    width: 100%;
    height: 100px;
    font-size: 24px;
    font-family: cursive;
}

.detail_box_top_text_seller {
    display: flex;
    width: 100%;
    height: 100px;
    font-size: 20px;
    font-family: cursive;
    align-items: center;
    flex-direction: row;
    gap: 15px;
}

.detail_box_top_text_seller_image {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: 100%;
    overflow: hidden;
}

.detail_box_top_text_seller_name {
    display: flex;
    font-family: cursive;
    height: 100%;
    align-items: center;
}

.detail_box_top_Evaluation {
    display: flex;
    height: 100%;
    font-size: 18px;
    font-family: cursive;
    justify-content: center;
    align-items: center;
    color: #3f3d3d;
    margin-left: 5%;
    gap: 10px;
}

#detail_box_top_Evaluation_image {
    background-repeat: no-repeat;
    background-size: 100%;
    height: 40px;
    width: 40px;
    margin-left: 20px;
    overflow: hidden;
}

.detail_box_top_text_price {
    display: flex;
    width: 100%;
    font-family: cursive;
    font-size: 30px;
    align-items: center;
    color: red;
}

.detail_box_top_text_number {
    color: #59595b;
}

.detail_box_middle {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 40px;
}

.detail_box_middle_button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    color: #3f3d3d;
    height: 50px;
    width: 160px;
    border-radius: 3px;
    border: #0b0b0c 1px solid;
    transition: .2s;
}

.detail_box_middle_button:hover {
    background: #c3c3c5;
    transform: scale(0.95);
}

#detail_box_middle_button_collection {
    margin-left: 55%;
}

#detail_box_button_middle_change {
    width: 230px;
    margin-left: 70%;
}

#detail_box_button_middle_cancel {
    width: 220px;
}

#detail_box_button_middle_delivery {
    width: 300px;
    margin-left: 70%;
}

.detail_box_middle_button_collection_image {
    background-repeat: no-repeat;
    background-size: 100%;
    height: 40px;
    width: 40px;
    margin-left: -5px;
    overflow: hidden;
}

.detail_box_middle_button_delivery_image {
    margin-left: -7px;
    height: 40px;
    width: 40px;
}

.detail_box_middle_button_Chat_image {
    background-repeat: no-repeat;
    background-size: 100%;
    height: 40px;
    width: 40px;
    margin-left: -10px;
    margin-top: 5px;
    overflow: hidden;
}

.detail_box_middle_button_buy_image {
    height: 40px;
    width: 45px;
    margin-left: -10px;
}

.detail_box_middle_button_change_image {
    height: 40px;
    width: 40px;
    margin-left: -10px;
    margin-top: 5px;
    overflow: hidden;
}

.detail_box_middle_button_delete_image {
    height: 40px;
    width: 40px;
    margin-left: -10px;
    margin-top: 5px;
    overflow: hidden;
}

.detail_box_bottom {
    margin-top: 20px;
    width: 100%;
}

.detail_box_bottom_title {
    width: 100%;
    font-size: 36px;
    height: 55px;
    font-family: cursive;
    background: #6161b2;
    color: white;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
}

.detail_box_bottom_title_word {
    margin-left: 30px;
}

.detail_box_bottom_box {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.detail_box_bottom_box_block {
    height: 55px;
    width: 100%;
    display: flex;
    align-items: center;
}

.detail_box_bottom_box_block_word {
    margin-left: 40px;
    font-size: 26px;
    font-family: cursive;
}

.img_setting {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#buy {
    width: 40px;
}